[Desktop Entry]
Name=Project Sentinel
Comment=Biometric Facial Authentication System
Exec=sentinel-ui
Icon=security-high-symbolic
Terminal=false
Type=Application
Categories=System;Security;
Keywords=Security;Authentication;Face;Biometrics;
StartupNotify=true
